@page
@model candyshop.Pages.Candy.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>candies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="candies.CSflavor" class="control-label"></label>
                <input asp-for="candies.CSflavor" class="form-control" />
                <span asp-validation-for="candies.CSflavor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="candies.Corigin" class="control-label"></label>
                <input asp-for="candies.Corigin" class="form-control" />
                <span asp-validation-for="candies.Corigin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="candies.Cwrapper" class="control-label"></label>
                <input asp-for="candies.Cwrapper" class="form-control" />
                <span asp-validation-for="candies.Cwrapper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="candies.CSID" class="control-label"></label>
                <select asp-for="candies.CSID" class ="form-control" asp-items="ViewBag.CSID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
